name: Build different .NET versions

on: [push, pull_request]

jobs:
  build: 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        net-version: [8.0.x]

    runs-on: ${{ matrix.os }}
  
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.net-version }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build src/AWS.MSK.Auth.csproj --no-restore
